.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  line-height: 1.6;

  position: relative;
}

.btn {
  font-weight: var(--font-weight-bold);
  padding: 2rem min(8.6rem, 24vw);
  border-radius: 50px;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: var(--cyan-200);
}

.btn-primary {
  color: var(--white);
  background-color: var(--cyan-500);
}

.error {
  width: 100%;
  color: var(--red-500);
  padding: 0.4rem 2rem;

}

@media (min-width: 42rem) {
  .error {
    text-align: start;
  }
}